#edit-button {
  position: absolute;
  right: 100px;
  top: 8px;
}

#delete-button {
  position: absolute;
  right: 5px;
  top: 8px;
}

.panel-heading h3 {
  display: inline-block;
}

.panel-heading {
  position: relative;
  height: 50px;
}

.panel {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
