#done-edit-button {
  position: absolute;
  right: 5px;
  top: 7px;
}

#caloriesh4 {
  display: inline-block;
}

.panel-heading input {
  margin-top: 2px;
}

.panel-heading {
  position: relative;
  height: 50px;
}
